<table class='table table-striped'>
  <thead>
    <th>小区名称</th>
    <th>小区位置</th>
    <th>物业电话</th>
  </thead>
  <tr>
    <td><a href='/community/show'>中国铁建国际花园</a></td>
    <td>瀍河回族区某大街对面</td>
    <td>0379-88888888</td>
  </tr>
</table>
<%= link_to '新增小区', '/community/new', class: 'btn btn-default' %>
